{{- $pageTitle := .Title -}}
{{- $siteTitle := .Site.Title -}}
{{- $paginator := partial "helper/paginator.html" . -}}

{{- $title := slice -}}

{{- if $pageTitle }}
    {{- $title = slice $pageTitle -}}
{{- end -}}

{{- if eq .Kind "term" -}}
    {{ $title = $title | append (printf "%s: %s" (title .Data.Singular) .Title) }}
{{- end -}}

{{- if and $paginator $paginator.HasPrev -}}
    <!-- Add page number-->
    {{ $title = $title | append (printf "Page %d" $paginator.PageNumber) }}
{{- end -}} 

{{- if or (eq .Kind "term") (.IsHome) -}}
    {{ $title = $title | append $siteTitle }}
{{- end -}}

{{ return delimit $title " - " }}