{{- $title := .Title -}}
{{- $siteTitle := .Site.Title -}}
{{- $authorName := .Site.Author.name -}}

{{- if .IsHome -}}
    {{- $v1 := where .Site.RegularPages "Type" "post" -}}
    {{- $v2 := where .Site.RegularPages "Params.hidden" "!=" true -}}
    {{- $filtered := $v1 | intersect $v2 -}}
	{{- $pag := .Paginate ($filtered) -}}
    {{ if .Paginator.HasPrev }}{{ .Paginator }} - {{ end }}{{ $siteTitle }}
{{- else if eq .Kind "term" -}}
	{{- $pag := .Paginate (where .Data.Pages "Type" "post") -}}
  	{{ title .Data.Singular }}: {{ $title }}{{ if .Paginator.HasPrev }} - {{ .Paginator }}{{ end }} - {{ $siteTitle }}
{{- else -}}
    {{- $title -}}
{{- end -}}