{{ define "body-class" }}template-friends{{ end }}
{{ define "main" }}
{{ partial "friends/custom" . }}
{{ $friends := site.GetPage "friends" }}
{{ $pages := $friends.Resources.ByType "page" }}
{{ if $pages }}
    <div class="card-wrapper--friends">
        {{ range $pages }}
            {{ if not .Params.ignore}}
            {{ .Render "card" }}
            {{ end }}
        {{ end }}
    </div>
{{ else }}
    <p>{{ T "friends.noFriends" }}</p>
{{ end }}
<script>
    (function attachShadowRoots(root) { 
        const supportsDeclarativeShadowDOM = HTMLTemplateElement.prototype.hasOwnProperty('shadowRootMode') || HTMLTemplateElement.prototype.hasOwnProperty('shadowRoot');
        if (!supportsDeclarativeShadowDOM) {
            console.log('Polyfilling Shadow DOM for friends cards');
            const templates = root.querySelectorAll('template.card-template');
            templates.forEach(template => {
                const shadow = template.parentElement.attachShadow({ mode: 'open' });
                shadow.innerHTML = template.innerHTML;
                const onloadElements = shadow.querySelectorAll("script.onload");
                if (!onloadElements) {
                    return;
                }
                
                // To execute scripts inside non-declarative shadow DOM, we need to move them to light DOM
                onloadElements.forEach(onloadElement => {
                    const script = document.createElement("script");
                    script.textContent = onloadElement.textContent;
                    template.parentElement.appendChild(script);
                });
            });
        }
    })(document);
</script>
{{ if not (eq .Params.comments false) }}
    {{ partial "comments/include" . }}
{{ end }}
{{ partialCached "footer/footer" . }}
{{ end }}