{{ define "body_class" }}2-column{{ end }}
{{ define "main" }}
<div class="container extended flex on-phone--column align-items--flex-start article-and-sidebar">

    {{ partial "sidebar/left.html" . }}

    <main class="main article-page do-not-overflow full-width">
        {{ partial "article/article.html" . }}

        {{ if or (not (isset .Params "comments")) (eq .Params.comments "true")}} 
            {{ partial "comments/include" . }}
        {{ end }}

        {{ partialCached "footer/footer" . }}
    </main>
</div>

{{ partial "article/components/photoswipe" . }}

{{ end }}