html {
    font-size: 62.5%;
    overflow-y: scroll;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--body-background);
    margin: 0;
    font-family: var(--base-font-family);
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
