.card-wrapper--friends {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;

    .card {
        background-color: var(--card-background);
        border-radius: var(--card-border-radius);
        box-shadow: var(--shadow-l1);
        padding: 20px;
        display: grid;
        align-self: start;
        grid-template-rows: auto 0fr;
        transition:
            grid-template-rows 0.3s ease,
            transform 0.18s ease,
            box-shadow 0.18s ease;
        overflow: hidden;
        --emoji-size: 30px;
        --tag-background: #f0f0f0;

        .card-main {
            display: grid;
            align-self: start;
            grid-template-columns: 1fr 2fr;
            gap: 10px;

            .card-left {
                grid-column: 1;
            }

            .card-right {
                grid-column: 2;
            }

            .last-row {
                align-self: end;
            }

            .align-end {
                justify-self: end;
            }
        }

        &.expanded {
            grid-template-rows: auto 1fr;

            .card-content {
                padding-top: 1em;
                opacity: 1;
            }

            .card-action {
                .open {
                    display: none;
                }

                .close {
                    display: inline;
                }
            }
        }

        .card-content {
            opacity: 0;
            overflow: hidden;
            transition: padding-top 0.3s ease, opacity 0.3s ease;
        }

        &:hover {
            transform: translateY(-4px);
            box-shadow: var(--shadow-l2);
        }

        .card-image {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 80px;
                height: 80px;
                border-radius: 100%;
                box-shadow: var(--shadow-l2);
            }

            .emoji {
                position: absolute;
                width: var(--emoji-size);
                height: var(--emoji-size);
                line-height: var(--emoji-size);
                border-radius: 100%;
                bottom: 0;
                right: 0;
                text-align: center;
                font-size: var(--emoji-font-size);
                background-color: var(--card-background);
                box-shadow: var(--shadow-l3);
            }
        }

        .card-title {
            font-size: 1.7rem;
            font-weight: 700;
            color: var(--accent-color);
            margin: 0;
        }

        .card-description {
            font-size: 1.5rem;
            color: var(--body-text-color);
            margin: 0rem;
            max-height: 11rem;
            overflow-y: scroll;
            scrollbar-width: none;
            grid-row: 1 / 3;
            align-self: start;
        }

        .card-action {
            color: var(--link-background-color);

            .action-more {
                cursor: pointer;
            }

            .open {
                display: inline;
            }

            .close {
                display: none;
            }
        }

        .card-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 6px 5px;

            span {
                background-color: var(--tag-background);
                color: var(--tag-text-color);
                font-size: 1.3rem;
                padding: 4px 6px;
                border-radius: var(--tag-border-radius);
            }
        }
    }
}