.sidebar {
    padding: 0 15px;
    &.sticky {
        @media (min-width: ($on-phone + 1)) {
            position: sticky;
        }
    }
}

.left-sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    @media (max-width: $on-phone) {
        width: 100%;
        padding: 30px 0;
        max-width: none;
    }

    &.sticky {
        top: 0;
    }

    @media (min-width: $on-phone + 1) {
        margin-right: 1%;
        padding: var(--main-top-padding) 15px;
        max-height: 100vh;
    }
}

.right-sidebar {
    flex-shrink: 0;

    &.sticky {
        top: 0;
    }

    @media (max-width: $on-desktop - 1) {
        display: none;
    }

    @media (min-width: $on-tablet) {
        margin-left: 1%;
        padding-top: 50px;
    }
}

.site-info {
    z-index: 1;
    transition: box-shadow 0.5s ease;
    @media (max-width: $on-phone) {
        padding: 15px 30px;
    }

    .site-avatar {
        position: relative;
        margin: 0;
        margin-bottom: 25px;
        width: 150px;
        height: 150px;

        @media (max-width: $on-desktop-large) {
            height: 120px;
            width: 120px;
        }

        .site-logo {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            box-shadow: var(--shadow-l1);
        }

        .emoji {
            position: absolute;
            width: 50px;
            height: 50px;
            line-height: 50px;
            border-radius: 100%;
            bottom: 0;
            right: 0;
            text-align: center;
            font-size: 20px;
            background-color: var(--card-background);
            box-shadow: var(--shadow-l2);

            @media (max-width: $on-desktop-large) {
                width: 40px;
                height: 40px;
                line-height: 40px;
            }
        }
    }

    .site-name {
        color: var(--accent-color);
        font-size: 2.4rem;
        margin: 0;

        @media (max-width: $on-desktop-large) {
            font-size: 2rem;
        }
    }

    .site-description {
        color: var(--body-text-color);
        font-weight: normal;
        margin: 10px 0;
        font-size: 1.8rem;

        @media (max-width: $on-desktop-large) {
            font-size: 1.6rem;
        }
    }
}

.sidebar {
    .widget {
        &:not(:last-of-type) {
            margin-bottom: var(--section-separation);
            &:after {
                content: "";
                width: 100px;
                height: 2px;
                background-color: var(--body-text-color);
                display: block;
                margin-top: var(--section-separation);
            }
        }
    }
}
