.widget {
    .widget-title {
        text-transform: uppercase;
        color: var(--body-text-color);
        font-weight: bold;
        margin: 0;
        margin-bottom: 10px;
        font-size: 1.6rem;
    }

    .widget-icon {
        svg {
            width: 32px;
            height: 32px;
            stroke-width: 1.6;
            color: var(--body-text-color);
        }
    }
}

/* Tag cloud widget */
.tagCloud {
    .tagCloud-tags {
        display: flex;
        flex-wrap: wrap;

        a {
            background: var(--card-background);
            box-shadow: var(--shadow-l1);
            border-radius: var(--tag-border-radius);
            padding: 8px 20px;

            color: var(--card-text-color-main);
            margin-bottom: 10px;
            margin-right: 5px;
            font-size: 1.4rem;
            transition: box-shadow 0.3s ease;

            &:hover {
                box-shadow: var(--shadow-l2);
            }
        }
    }
}

/* Archives widget */
.widget.archives {
    .archives-year {
        margin-bottom: 10px;
        a {
            background-color: var(--card-background);
            padding: 15px 25px;
            border-radius: var(--card-border-radius);
            box-shadow: var(--shadow-l1);
            display: flex;
            transition: box-shadow 0.3s ease;

            &:hover {
                box-shadow: var(--shadow-l2);
            }

            @media (max-width: $on-desktop-large) {
                font-size: 1.4rem;
            }

            span.year {
                flex: 1;
                color: var(--card-text-color-main);
            }

            span.count {
                color: var(--card-text-color-tertiary);
            }
        }
    }
}
