{{ if .Site.IsMultiLingual }}
<script>
    (function () {
        const BASE_URL = '{{ .Site.BaseURL }}';
        const DEFAULT_LANG = '{{ .Site.Language.Lang }}';

        if (!window.location.href.endsWith(BASE_URL)) return;

        let userLangList = [...navigator.languages];
        if (localStorage.userLang)
            userLangList.unshift(localStorage.userLang);
        else
            localStorage.userLang = userLangList[0].toLowerCase();

        let supportLangs = new Set();
        {{ range .Site.Languages }}
        supportLangs.add('{{ .Lang }}');
        {{ end }}
        for (let userLang of userLangList) {
            userLang = userLang.toLowerCase();
            if (DEFAULT_LANG == userLang) {
                return;
            }
            if (supportLangs.has(userLang)) {
                window.location.href = window.location.href + userLang;
                return;
            }
        }
    })()
</script>
{{ end }}
