{{ $sass := resources.Get "scss/style.scss" }}
{{ $style := $sass | resources.ToCSS | minify }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

{{ if .Site.Params.comments.enabled }}
    {{ if eq .Site.Params.comments.provider "cactus" }}
        {{ $sass_cactus := resources.Get "scss/partials/comments/provider/cactus.scss" }}
        {{ $style_cactus := $sass_cactus | resources.ToCSS | minify }}
        <link rel="stylesheet" href="{{ $style_cactus.RelPermalink }}">
    {{ end }}
{{ end }}