<article>
    <a href="{{ .RelPermalink }}">
        <div class="article-details">
            <h2 class="article-title">
                {{- .Title -}}
            </h2>
            <footer class="article-time">
                {{/* 修改为相对时间，并增加 hover 提示具体精确到分钟的时间 */}}
                <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}' title='发布于 {{ .Date.Format "2006-01-02 15:04" }}'>
                    {{- $duration := sub now.Unix .Date.Unix -}}
                    {{- if lt $duration 0 -}}刚刚
                    {{- else if lt $duration 60 -}}刚刚
                    {{- else if lt $duration 3600 -}}{{ div $duration 60 }} 分钟前
                    {{- else if lt $duration 86400 -}}{{ div $duration 3600 }} 小时前
                    {{- else if lt $duration 2592000 -}}{{ div $duration 86400 }} 天前
                    {{- else if lt $duration 31536000 -}}{{ div $duration 2592000 }} 个月前
                    {{- else -}}{{ div $duration 31536000 }} 年前
                    {{- end -}}
                </time>
            </footer>
        </div>

        {{- $image := partial "helper/image" (dict "Image" .Params.image "Resources" .Resources) -}}
        {{ if $image }}
        <div class="article-image">
            <img src="{{ $image.Permalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ .Title }}"
                loading="lazy">
        </div>
        {{ end }}
    </a>
</article>