{{ $image := partial "helper/image" .context }}
<article class="{{ if $image.exists }}has-image{{ end }}">
    <a href="{{ .context.Permalink }}">
        
        {{ if $image.exists }}
            <div class="article-image">
                {{ if $image.local }}
                    {{- $imageRaw := $image.src | resources.Fingerprint "md5" -}}
                    {{- $thumbnail := $imageRaw.Fill .size -}}

                    <img src="{{ $thumbnail.RelPermalink }}" width="{{ $thumbnail.Width }}" height="{{ $thumbnail.Height }}" 
                        loading="lazy" data-key="{{ .context.Slug }}" data-hash="{{ $imageRaw.Data.Integrity }}">
                {{ else }}
                    <img src="{{ $image.src }}" loading="lazy" data-key="{{ .context.Slug }}" data-hash="{{ $image.src }}"/>
                {{ end }}
            </div>
        {{ end }}

        <div class="article-details">
            <h2 class="article-title">
                {{- .context.Title -}}
            </h2>
        </div>
    </a>
</article>