### Custom menu
### See https://docs.stack.jimmycai.com/configuration/custom-menu.html
### To remove about, archive and search page menu item, remove `menu` field from their FrontMatter
main: []
social:
  - identifier: github
    name: GitHub
    url: https://github.com/CaiJimmy/hugo-theme-stack
    params:
      icon: brand-github
  - identifier: twitter
    name: Twitter
    url: https://twitter.com
    params:
      icon: brand-twitter
