<div class="card">
    <div class="card-main">
        <div class="card-image card-left">
            <a href="{{ .Params.href }}">
                <img src="{{ .Params.avatar }}" alt="{{ .Params.name }}" loading="lazy" />
            </a>
            {{ if .Params.emoji }}
            <div class="emoji">{{ .Params.emoji }}</div>
            {{ end }}
        </div>
        <h3 class="card-title card-left">
            <a href="{{ .Params.href }}">{{ .Params.name }}</a>
        </h3>
        {{ if .Params.tags }}
        <div class="card-tags card-left">
            {{ range .Params.tags }}
            <span>{{ . }}</span>
            {{ end }}
        </div>
        {{ end }}
        {{ if .Params.info }}
        <p class="card-description card-right">{{ .Params.info }}</p>
        {{ end }}
        <div class="card-action card-right last-row align-end">
            {{ if .Content }}
            <a class="action-more" onclick="this.closest('.card').classList.toggle('expanded')">
                <span class="open">{{ T "friends.open" }}</span>
                <span class="close">{{ T "friends.close" }}</span>
            </a>
            {{ end }}
        </div>
    </div>
    <div class="card-content">
        {{ if .Page.Content }}
        <template class="card-template" shadowrootmode="open" shadowroot="open">
            {{ .Page.Content | safeHTML }}
        </template>
        {{ end }}
    </div>
</div>