{{- $context := .Context -}}
{{- $scope := .Scope -}}
{{- $limit := default 10 .Params.limit -}}
<section class="widget tagCloud">
    <div class="widget-icon">
        {{ partial "helper/icon" "categories" }}
    </div>
    <h2 class="widget-title section-title">{{ T "widget.categoriesCloud.title" }}</h2>

    <div class="tagCloud-tags">
        {{ range first $limit $context.Site.Taxonomies.categories.ByCount }}
            {{ $term := .Page.Title }}
            {{ $pages := where .Pages "Draft" "!=" true }}
            {{ if eq $scope "drafts" }}
                {{ $pages = where .Pages "Draft" "==" true }}
            {{ end }}
            {{ $notDisapproval := not (in $context.Site.Params.disapproval.tags $term) }}
            {{ if and $notDisapproval (gt (len $pages) 0) }}
                <a href="{{ .Page.RelPermalink }}">{{ $term }}</a>
            {{ end }}
        {{ end }}
    </div>
</section>
