<section class="widget tagCloud">
    <div class="widget-icon">
        {{ partial "helper/icon" "tag" }}
    </div>
    <h2 class="widget-title section-title">{{ T "widget.tagCloud.title" }}</h2>
    <div class="tagCloud-tags">
        {{ $tagPriorities := site.Data.tag_priorities.priorities | default dict }}
        {{ $sortedTags := slice }}
      
        {{ range site.Taxonomies.tags }}
            {{ $priority := default 999 (index $tagPriorities .Page.Title) }}
            {{ $sortedTags = $sortedTags | append (dict "tag" . "priority" $priority) }}
        {{ end }}
      
    {{- $limit := default 10 .Params.limit -}}
    {{ range first $limit (sort $sortedTags "priority") }}
        {{ $tag := .tag }}
        <a href="{{ $tag.Page.RelPermalink }}" class="font_size_{{ $tag.Count }}">
            {{ $tag.Page.Title }}
        </a>
    {{ end }}
    </div>
</section>
