{{ with .Context.Scratch }}
<section class="widget footnotes">
    <div class="widget-icon">
        {{ partial "helper/icon" "messages" }}
    </div>
    <h2 class="widget-title section-title">Footnotes</h2>
    <div class="widget--footnotes">
        {{ $footnoteCount := $.Context.Scratch.Get "footnote-counter" | default 0 }}
        {{ if gt $footnoteCount 0 }}
            <ol class="footnotes-list">
                {{ range $i := seq 1 $footnoteCount }}
                    {{ $id := printf "footnote-%d" $i }}
                    {{ $selector := printf ".inline-footnote[data-footnote-id='%s']" $id }}
                    {{ $content := "" }}
                    {{ with $.Context.Content | findRE (printf "<span class=\"inline-footnote\" data-footnote-id=\"%s\" data-footnote-content=\"([^\"]*)\"" $id) }}
                        {{ $match := index . 0 }}
                        {{ $content = replaceRE ".*data-footnote-content=\\\"([^\"]*)\\\".*" "$1" $match }}
                    {{ end }}
                    <li id="{{ $id }}" class="footnote-item">
                        {{ $content | htmlUnescape | safeHTML }}
                    </li>
                {{ end }}
            </ol>
        {{ end }}
    </div>
</section>
{{ end }}