<div class="article-list--compact links">
    {{ range $link := .Params.links }}
        <article>
            <a href="{{ $link.website }}" target="_blank" rel="noopener">
                <div class="article-details">
                    <h2 class="article-title">
                        {{- $link.title -}}
                    </h2>
                    <footer class="article-meta">
                        {{ with $link.description }}
                            {{ . }}
                        {{ else }}
                            {{ $link.website }}
                        {{ end }}
                    </footer>
                </div>

                {{- $image := partial "helper/image" (dict "Image" $link.image "Resources" $.Resources "Context" .) -}}
                {{- with $image -}}
                    <div class="article-image">
                       {{ partial "helper/thumbnail-image" (dict 
                            "Resource" .Resource
                            "Width" 60
                            "Height" 60
                            "Resize" $.Site.Params.ImageProcessing.Thumbnail.Enabled
                            "Attributes" (dict
                                "src" $image.Permalink
                                "alt" $link.title
                                "loading" "lazy"
                                "width" .Width
                                "height" .Height
                            )
                        ) }}
                    </div>
                {{ end }}
            </a>
        </article>
    {{ end }}
</div>