{{ define "main" }}
    {{ $draftPages := where .Site.RegularPages "Draft" true }}
    {{ $disapproval := where $draftPages "Params.categories" "intersect" .Site.Params.disapproval.tags }}
    {{ $filtered := $disapproval | symdiff $draftPages }}
    <section class="article-list no-draft-tips">
        {{ range $index, $element := $filtered }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "drafts") }}
{{ end }}