.archive-group {
    margin-bottom: var(--section-separation);
    .archive-date {
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 1.6rem;
        font-weight: bold;

        a {
            color: var(--body-text-color);
        }
    }
}

.template-archive {
    .category-list {
        margin-bottom: var(--section-separation);
        overflow-x: auto;

        .article-list--tile {
            display: flex;
            padding-bottom: 15px;

            article {
                width: 250px;
                height: 150px;
                margin-right: 20px;
                flex-shrink: 0;
            }
        }
    }
}
