.search-form {
    position: relative;
    border-radius: var(--card-border-radius);
    background-color: var(--card-background);
    box-shadow: var(--shadow-l1);
    color: var(--card-text-color-main);
    width: 100%;
    --button-size: 80px;
    display: flex;

    overflow: hidden;
    flex-direction: row;
    justify-content: stretch;
    gap: 0;

    &.widget {
        --button-size: 60px;

        label {
            font-size: 1.3rem;
        }

        input {
            font-size: 1.5rem;
        }

        .input-wrapper {
            padding: 10px 20px 15px 20px;
        }
    }

    .input-wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 5px;
        padding: 15px 20px 20px 20px;
    }

    label {
        font-size: 1.4rem;
        color: var(--card-text-color-tertiary);
    }

    input {
        border: 0;
        -webkit-appearance: none;

        font-size: 1.8rem;

        &:focus {
            outline: 0;
        }
    }

    button {
        width: var(--button-size);
        cursor: pointer;
        background-color: transparent;
        border: 0;
        padding: 0 10px;

        &:focus {
            outline: 0;

            svg {
                stroke-width: 2;
                color: var(--accent-color);
            }
        }

        svg {
            color: var(--card-text-color-secondary);
            stroke-width: 1.33;
            transition: all 0.3s ease;
            width: 20px;
            height: 20px;
        }
    }
}
