{{- $pages := slice -}}
{{- $hasPages := false -}}

{{- if .IsHome -}}
    {{ $pages = where .Site.RegularPages "Section" "in" .Site.Params.mainSections }}
    {{- $hasPages = true -}}
{{- else if eq .Kind "term" -}}
    {{ $pages = .Pages }}
    {{- $hasPages = true -}}
{{- else if or (eq .Kind "section") (eq .Kind "taxonomy") -}}
    {{ $subsections := .Sections }}
    {{ $pages = .Pages | complement $subsections }}

    {{- if eq (len $pages) 0 -}}
        {{/* See complete logic in list.html */}}
        {{- $pages = $subsections -}}
    {{- end -}}
    
    {{- $hasPages = true -}}
{{- end -}}

{{- if $hasPages -}}
    {{ $pages = .Paginate $pages }}
{{- end -}}

{{ return $pages }}
