<head>
    <meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<meta name='description' content='{{ chomp (partial "data/description" . | plainify ) }}'>
    <base href='{{ .Site.BaseURL }}'>
    
	<title>{{ (trim (partial "data/title" .) "\n" ) | safeHTML }}</title>
	<link rel='canonical' href='{{ .Permalink }}'>

    {{ partial "head/style.html" . }}
    {{ partial "head/script.html" . }}
    
    {{ partial "head/opengraph.html" . }}

    {{ range .AlternativeOutputFormats -}}
        <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
    {{ end -}}

    {{- if .Site.Params.favicon -}}
        {{- $logo := resources.Get .Site.Params.favicon -}}
        {{- $favicon := $logo.Resize "32x" -}}
        <link rel="icon" type="image/png" href="{{ $favicon.RelPermalink }}" />
    {{- end -}}

    {{ partial "head/custom.html" . }}
</head>