{{ if gt .Paginator.TotalPages 1 }}
    <nav class='pagination'>
        {{ $.Scratch.Set "hasPrevDots" false }}
        {{ $.Scratch.Set "hasNextDots" false }}

        {{ range .Paginator.Pagers }}
            {{ if eq . $.Paginator }}
                <span class='page-link current'>
                    {{- .PageNumber -}}
                </span>
                {{ else if or (or (eq . $.Paginator.First) (eq . $.Paginator.Prev)) (or  (eq . $.Paginator.Next) (eq . $.Paginator.Last )) }}
                    <a class='page-link' href='{{ .URL }}'>
                        {{- .PageNumber -}}
                    </a>
                {{ else }}
                    {{ if and (not ($.Scratch.Get "hasPrevDots")) (lt .PageNumber $.Paginator.PageNumber)  }}
                        {{ $.Scratch.Set "hasPrevDots" true }}
                        <span class='page-link dots'>&hellip;</span>
                    {{ else if and (not ($.Scratch.Get "hasNextDots")) (gt .PageNumber $.Paginator.PageNumber) }}
                        {{ $.Scratch.Set "hasNextDots" true }}
                        <span class='page-link dots'>&hellip;</span>
                    {{ end }}
                {{ end }}
            {{ end }}
    </nav>
{{ end }}
