{{ define "main" }}
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $disapprovalTags := .Site.Params.disapproval.tags }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $notDraft := where .Site.RegularPages "Draft" "!=" true }}
    {{ $disapproval := where .Site.RegularPages "Params.categories" "intersect" $disapprovalTags }}
    {{ $notDisapproval := $disapproval | symdiff .Site.RegularPages }}
    {{ $filtered := ((($pages | intersect $notHidden) | intersect $notDraft) | intersect $notDisapproval) }}
    {{ $pag := .Paginate (slice $filtered) }}
    
    <section class="article-list">
        <span class="pinned">
            {{ range where $pag.Pages "Params.pinned" true }}
                {{ partial "article-list/default" . }}
            {{ end }}
        </span>
        {{ range where $pag.Pages "Params.pinned" "!=" true }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}