{{- $type := .AlertType -}}
{{- $icons := site.Params.article.alertIcon -}}
{{- $icon := index $icons $type -}}

<blockquote class="{{ if $type }}alert alert-{{ $type }}{{ end }}">
    {{- if $type -}}
        <div class="alert-header">
            <span class="alert-icon">
                {{- $icon -}}
            </span>
            <span class="alert-title">
                {{- title $type -}}
            </span>
        </div>
    {{- end -}}

    <div class="alert-body">
        {{ .Text }}
    </div>
</blockquote>
