{{- $image := partial "helper/image" (dict "Resources" .Page.Resources "Image" .Destination) -}}
{{- $alt := .PlainText | safeHTML -}}
{{- $title := .Title | markdownify -}}

{{/* There are some types of images that don't have width and height attributes, such as SVG */}}
{{- $galleryImage := and $image.Height $image.Width -}}

{{- $attributes := dict -}}
{{- if $galleryImage -}}
    {{- $attributes = (dict 
        "data-flex-grow" (div (mul $image.Width 100) $image.Height) 
        "data-flex-basis" (printf "%dpx" (div (mul $image.Width 240) $image.Height))
    ) -}}
{{- end -}}

{{ partial "helper/responsive-image" (dict 
    "Resource" $image.Resource
    "Widths" .Page.Site.Params.ImageProcessing.Content.Widths
    "Attributes" (merge $attributes (dict 
        "src" $image.Permalink
        "width" $image.Width
        "height" $image.Height
        "alt" $alt
        "title" $title
        "class" (cond $galleryImage "gallery-image" "")
        "loading" "lazy"
    ))
) }}