{{ partial "article/components/tippy.html" . }}

<script>
    window.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".codeline").forEach(function (clElem) {
            const blockId = clElem.dataset.block;
            let lineNumbers = JSON.parse(clElem.dataset.line);
            if (Number.isInteger(lineNumbers)) {
                lineNumbers = [lineNumbers];
            } else if (!Array.isArray(lineNumbers)) {
                return;
            }
            const href = clElem.getAttribute("href");
            const firstLineNumberElem = document.getElementById(href.substring(1));
            if (!firstLineNumberElem) {
                return;
            }
            clElem.removeAttribute("href");
            clElem.addEventListener("pointerup", (e) => {
                if (e.pointerType !== "mouse") return;
                firstLineNumberElem.scrollIntoView({behavior: "smooth", block: "start"});
                history.replaceState(null, "", href);
            });
            const codeBlock = document.getElementById(`chroma-${blockId}`);
            if (!codeBlock) {
                return;
            }
            
            const code = codeBlock.querySelector("code[data-lang]");
            if (!code) {
                return;
            }
            
            const popper = document.createElement('span');
            popper.className = 'highlight chroma';
            popper.style.paddingTop = '5px';
            popper.style.paddingBottom = '5px';
            
            for (const lineNumber of lineNumbers) {
                const line = code.children[lineNumber - 1];
                if (!line) {
                    return;
                }
                const clonedLineNumberElem = document.getElementById(`code-${blockId}-${lineNumber}`).cloneNode(true);
                const clonedCode = line.cloneNode(true);
                const newLine = document.createElement('span');
                newLine.style.display = 'flex';
                newLine.appendChild(clonedLineNumberElem);
                newLine.appendChild(clonedCode);
                popper.appendChild(newLine);
            }

            popper.addEventListener("pointerup", (e) => {
                if (e.pointerType !== "touch") return;
                firstLineNumberElem.scrollIntoView({behavior: "smooth", block: "start"});
                history.replaceState(null, "", href);
            });

            tippy(clElem, {
                offset: "-5, 0",
                appendTo: code,
                animation: true,
                interactive: true,
                render(instance) {
                    return {
                        popper: popper,
                        // onUpdate: (prevProps, nextProps) => { }
                    };
                },
                onHide(instance) {
                    requestAnimationFrame(instance.unmount);
                },
                
            });
        });
    });
</script>