{{ partial "article/components/tippy.html" . }}

<script>
    window.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".codeline").forEach(function (clElem) {
            const blockId = clElem.dataset.block;
            const lineNumber = clElem.dataset.line;
            const href = clElem.getAttribute("href");
            const lineNumberElem = document.getElementById(href.substring(1));
            if (!lineNumberElem) {
                return;
            }
            clElem.removeAttribute("href");
            clElem.addEventListener("pointerup", (e) => {
                if (e.pointerType !== "mouse") return;
                lineNumberElem.scrollIntoView({behavior: "smooth", block: "start"});
                history.replaceState(null, "", href);
            });
            const codeBlock = document.getElementById(`chroma-${blockId}`);
            if (!codeBlock) {
                return;
            }
            
            const code = codeBlock.querySelector("code[data-lang]");
            if (!code) {
                return;
            }
            const line = code.children[lineNumber - 1];
            if (!line) {
                return;
            }
            
            const clonedLineNumberElem = lineNumberElem.cloneNode(true);
            const clonedCode = line.cloneNode(true);

            const popper = document.createElement('span');
            popper.className = 'highlight chroma';
            popper.style.display = 'flex';
            popper.style.paddingTop = '5px';
            popper.style.paddingBottom = '5px';
            popper.appendChild(clonedLineNumberElem);
            popper.appendChild(clonedCode);
            popper.addEventListener("pointerup", (e) => {
                if (e.pointerType !== "touch") return;
                lineNumberElem.scrollIntoView({behavior: "smooth", block: "start"});
                history.replaceState(null, "", href);
            });

            tippy(clElem, {
                offset: "-5, 0",
                appendTo: line.parentElement,
                animation: true,
                interactive: true,
                render(instance) {
                    return {
                        popper: popper,
                        // onUpdate: (prevProps, nextProps) => { }
                    };
                },
                onHide(instance) {
                    requestAnimationFrame(instance.unmount);
                },
                
            });
        });
    });
</script>