{{ if T "article.disapprovalTips" }}
    <div class="article-disapproval-tips">
        <div role="alert" class="alert">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" stroke="currentColor" aria-hidden="true">
                <circle cx="11" cy="11" r="9" stroke-width="2" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 7v4m0 4h.01"/>
            </svg>
            <span>
                {{ T "article.disapprovalTips" }}
            </span>
        </div>
    </div>
{{ end }}