<footer class="article-footer">
    {{ with $tags := .Params.Tags }}
    <section class="article-tags">
        {{ range $tags }}
        <a href="/tags/{{ . | urlize }}">{{ . | humanize }}</a>
        {{ end }}
    </section>
    {{ end }}

    {{ if and (.Site.Params.article.license.enabled) (not (eq .Params.license false)) }}
    <section class="article-copyright">
        {{ (resources.Get "icons/copyright.svg").Content | safeHTML }}
        <span>{{ default .Site.Params.article.license.default .Params.license }}</span>
    </section>
    {{ end }}
</footer>