<aside class="widget related-contents--wrapper">
    {{ $related := .Site.RegularPages.Related . | first 5 }}
    {{ with $related }}
        <h1 class="widget-title">{{ T "relatedContents" }}</h1>
        <div class="related-contents">
            <div class="flex article-list--tile">
                {{ range . }}
                    {{ partial "article-list/tile" (dict "context" . "size" "250x150" "Type" "articleList") }}
                {{ end }}
            </div>
        </div>
    {{ end }}
</aside>