<script src='//cdn.jsdelivr.net/npm/@waline/client/dist/Waline.min.js'></script>
<div id="waline" class="waline-container"></div>
<style>
    .waline-container {
        background-color: var(--card-background);
        border-radius: var(--card-border-radius);
        box-shadow: var(--shadow-l1);
        padding: var(--card-padding);
    }
</style>

{{- with .Site.Params.comments.waline -}}
<script>
    // 本页配置参见 https://waline.js.org/reference/client.html
    // Waline client configuration see: https://waline.js.org/en/reference/client.html
	new Waline({
        el: '#waline',
        serverURL: '{{ .serverURL }}',
        lang: '{{ .lang }}',
        visitor: '{{ .visitor }}',
        avatar: '{{ .avatar }}',
        emoji: ['{{ .emoji }}'],
        dark: 'body[data-scheme="dark"]',
        requiredMeta: ['{{ .requiredMeta }}'],
        locale: {
            admin: '{{ .admin }}',
            placeholder: '{{ .placeholder }}',
        },
    });
</script>
{{- end -}}
